<section id="footer" class="pt-100 pb-50">
    <div class="container ">
        <div class="row text-center text-xs-center text-sm-left text-md-left ">
            <div class="col-xs-12 col-sm-4 col-md-3 ">
                <h5>Health Systems Consult Limited (HSCL)</h5>
                <p>HSCL is a Public health and development consulting firm established by a team with extensive experience in international health and development. </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                <h5>Menu</h5>
                <ul class="list-unstyled quick-links ">
                    <li><a href="#hero">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#services">What We Do</a></li>
                    <li><a href="/projects">Portfolio</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                <h5>Info</h5>
                <ul class="list-unstyled quick-links ">
                    <li><a href="# " class="btn disabled">News</a></li>
                    <li><a href="./careers.html">Careers</a></li>
                    <li><a href="# " class="btn disabled">Gallery</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Plot 856 Olu Awotesu Street, Golf view, Jabi, Abuja, Nigeria</li>
                    <li>+234 9 290 9188</li>
                    <li>info@hscgroup.org</li>
                    <li><span style="color: #999999;"><small>Abuja&nbsp; |&nbsp; Lagos&nbsp; |&nbsp;
    Kaduna&nbsp; |&nbsp; &nbsp;Borno&nbsp; |&nbsp; Imo</small></span></li>
                </ul>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 ">
                <ul class="list-unstyled list-inline social text-center ">
                    <li class="list-inline-item "><a href="https://www.facebook.com/HsclNigeria" target="_blank"><i
    class="fa fa-facebook "></i></a></li>
                    <li class="list-inline-item "><a href="https://www.twitter.com/HSCLimited" target="_blank"><i
    class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item "><a href="https://www.instagram.com/hscl_nigeria/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center  ">
                <p>Copyright &copy;
                    <script language="JavaScript" type="text/javascript">
                        document.write((new Date()).getFullYear());
                    </script> All right Reversed. Health Systems Consult Limited</p>
            </div>
            </hr>
        </div>
    </div>
</section>