<section id="hero" class="hero bg-overlay-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pt-40">We provide top quality, innovative
                    <br><span class="accent">health</span> and <span class="accent">development</span>
                    <br>solutions
                </h2>
                <p>Dedicated to providing cutting edge solutions to the health and development ecosystem.</p>
                <a href="#contact" class="hero-btn">Get in touch</a>
            </div>

            <!-- <div class="col-md-12 text-center pointer">
                <div>
                    <i class="fas fa-long-arrow-alt  animated infinite bounce delay-4s"></i>
                </div>
            </div> -->
        </div>
    </div>
</section>