<!-- Modal -->
<div class="modal fade" id="drA-modal" tabindex="-1" role="dialog" aria-labelledby="drA-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bn1u7wfqt/drA_AAj6E_1Vf.jpg" width="100%">
                        <h5 class="modal-title text-center" id="drA-modal">Dr Alozie Ananaba</h5>
                        <p class="modal-certs text-center">(MD, MPH, MWACP)</p>
                        <p class="modal-role text-center">Managing Partner</p>
                    </div>
                    <div class="col-md-8">
                        <p>Alozie is a medical doctor and public health expert with over 20 years senior level experience in designing and managing large scale public health programs at both national and International levels.</p>

                        <p>

                            Alozie was a Fund Portfolio Manager with the Global Fund where he was responsible for a portfolio of grants for Botswana, Zimbabwe, Malawi and the regional SADC grants. Alozie also held senior level positions with the World Health Organization, The United
                            States Centre for Disease Control Global AIDs program, (CDC-GAP), The United States Department of Defence HIV programme in Nigeria (US-DOD) and UNICEF.</p>

                        <p>

                            Alozie has also consulted internationally for UNDP, UNAIDS, WHO, USAID, UNITAID and several other International NGOs. He has vast experience at developing and managing partnerships with Governments and other International agencies with the USG, EU, DFID,
                            CIDA and the UN family as examples.</p>

                        <p>

                            He has authored several strategy level documents including the Presidential Comprehensive Response Plan for HIV/AIDs in Nigeria; The Nigeria Malaria Strategic Plan (2014 -2020); Global Fund proposals for Nigeria, South Sudan, Zimbabwe, Zambia, Tanzania,
                            Zanzibar, Kenya, Lesotho and Sierra Leone.</p>

                        <p>

                            Alozie holds a medical degree from the University of Nigeria; a Masters’ in Public Health from the University of Lagos; a Management diploma from the Thunderbird School of Global Management Switzerland and a Membership of the West African College of Physicians.
                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drN-modal" tabindex="-1" role="dialog" aria-labelledby="drN-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bn1u7wfqt/drN_vc1Q0etS7.jpg" width="100%">
                        <h5 class="modal-title text-center" id="drN-modal">Dr Nkata Chuku</h5>
                        <p class="modal-certs text-center">(MD, MSC)</p>
                        <p class="modal-role text-center">Founding Partner</p>
                    </div>
                    <div class="col-md-8">
                        <p>Nkata is a public health specialist with over 14 years experience in designing and implementing strategies for increasing access to health care for those at the base of the pyramid. ​ His expertise includes developing health systems
                            mechanisms, policy analysis and development and the application of impact and cost effectiveness analysis in choosing health interventions/approaches.</p>

                        <p>

                            Nkata was a part of the senior management team at FHI 360 responsible for increasing the country’s portfolio from $215million to over $400million within 4 years. He was also responsible for managing a portfolio of about $20million per annum and played
                            lead roles in developing FHI 360’s successful proposal for US government (USAID AND CDC) totalling over $550million.</p>

                        <p>

                            He also developed and managed KPMG’s Healthcare Advisory Practice for West Africa and International Development Advisory Strategy for Nigeria. ​ He has also provided technical assistance to governments at the regional, national and sub-national levels.
                            He supported the development of several strategy documents including the National Strategic Development Plan (NSHDP) 2010 – 2015, National HIV/AIDS Strategy 2009 – 2013 and National Tuberculosis Strategic Plan 2015 – 2020 and
                            was a member of the Universal Health Coverage (UHC) technical team that reviewed Nigeria’s UHC agenda and proposed implementing strategies

                            <p>

                                He has also consulted for international NGOs including USAID and DFID. ​ Nkata holds a medical degree from the University of Lagos, Nigeria, an MSc in Health Policy, Planning and Financing from London School of Economics and Political Science (LSE), London
                                and a Diploma in Public Health from London School of Hygiene and Tropical Medicine (LSTHM).
                            </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drP-modal" tabindex="-1" role="dialog" aria-labelledby="drP-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bn1u7wfqt/blank2_7XMC7KnhL.png" width="100%">
                        <h5 class="modal-title text-center" id="drP-modal">Dr Pat Youri</h5>
                        <p class="modal-certs text-center"></p>
                        <p class="modal-role text-center">Board Chairman, HSCL</p>
                    </div>
                    <div class="col-md-8">
                        <p>

                            Dr. Pat Youri is a medical doctor with specialist qualifications in Paediatrics and Public Health. He has more than three decades of professional experience working in Sub-Sahara Africa and the United Kingdom. </p>

                        <p>

                            As an independent international public health consultant, he has consulted extensively for many governments, CSOs, and funding agencies including major international donor agencies USG (USAID & CDC), DFID/UKAID, the European Commission, the World Bank,
                            the Global Fund, and the UN System.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rosemary-modal" tabindex="-1" role="dialog" aria-labelledby="rosemary-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bn1u7wfqt/Rosemary_Silaa_n9X63Nn8xe.jpg" width="100%">
                        <h5 class="modal-title text-center" id="rosemary">Rosemary Silaa</h5>
                        <p class="modal-certs text-center"></p>
                        <p class="modal-role text-center">Country Lead, Tanzania</p>
                    </div>
                    <div class="col-md-8">
                        <p>Rosemary is a Public Health professional with vast experience in Tanzania’s health sector across both private and public sub-sectors. She supports and leads HSCL projects in Tanzania. </p>

                        <p>

                            She is an expert in Procurement and Supply Chain Management; Business Development; Human Capital Development; Operations Research both Quantitative and Qualitative and Economic Evaluations of public health programs.</p>

                        <p>

                            While working with CHAI as Director of Programmes in Tanzania, Rosemary successfully supported the implementation of HIV service delivery programmes in rural settings; Improved availability of HIV commodities; supported the pilot for the AMFm project
                            which transformed to a national programme. She also led the strengthening of the logistics system and developed the Pharmacy module for a commodity management tool which changed the management of HIV commodities in Tanzania.
                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drT-modal" tabindex="-1" role="dialog" aria-labelledby="drT-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bn1u7wfqt/Dr_Tosin_Kolade_e3xYq9Xhj.jpg" width="100%">
                        <h5 class="modal-title text-center" id="drT-modal">Dr Tosin Kolade</h5>
                        <p class="modal-certs text-center">(MD, MBA)</p>
                        <p class="modal-role text-center">Associate Director, Health Financing</p>
                    </div>
                    <div class="col-md-8">
                        <p>Oluwatosin is a medical doctor and a health financing specialist with over 15 years of experience in the health insurance industry. He has masterminded the set up and operational management of several health prepayment schemes
                            across Nigeria. </p>

                        <p>

                            Dr Oluwatosin Kolade has extensive experience in the health financing space in Nigeria. His core competences include medical operations, sales, marketing and managerial services. At HSCL, he leads the health financing unit of the firm where he provides
                            strategic and managerial oversight on the implementation of donor-supported health financing projects across a number of Nigerian states. He currently manages a demand-side financing project supported by Bill & Melinda Gates
                            Foundation in Kaduna and Niger states as well as World Bank supported performance based financing project in Borno state.</p>

                        <p>

                            Before joining HSCL, Oluwatosin has led several efforts to drive Nigeria closer to universal health coverage through the design and implementation of innovative financing mechanisms to ensure equitable access to high quality health care especially to
                            the most vulnerable in Nigeria. Of note was the key role he played in setting up community-based health insurance schemes in Bayelsa, Oyo and Kwara states.

                            <p>

                                He has also led a number of research initiatives to generate evidence to support the design of health financing solutions with potential for lasting impact.</p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tim-modal" tabindex="-1" role="dialog" aria-labelledby="tim-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bn1u7wfqt/tim_jbMc8OdLG.jpeg" width="100%">
                        <h5 class="modal-title text-center" id="tim-modal">Timothy Udeh</h5>
                        <p class="modal-certs text-center">(ACA)</p>
                        <p class="modal-role text-center">Director, Finance</p>
                    </div>
                    <div class="col-md-8">
                        <p>Timothy is a chartered Accountant with the Institute of chartered accountant of Nigeria and an experienced finance professional with over 8 years of experience in Financial accounting, grant/donor fund accounting and financial
                            management in both the private and development sector.
                        </p>

                        <p>
                            Timothy has extensive experience with Financial management, management accounting, donor funded accounting, financial management, internal control, budgeting and financial reporting.
                        </p>

                        <p>

                            At HSCL, Timothy currently oversees all financial transactions, project financial monitoring, budget preparation and all financial/management accounting tasks.


                            <p>

                                He currently manages a Bill and Melinda Gates Foundation supported grant for the Nigeria state-led Strategic Purchasing for FP project and a BMGF sub-grant for a Demand Side Financing Project. Timothy had previously managed a $2 million per year grant
                                for the Global fund supported Nigeria Supply Chain Integration Project (NSCIP) and other short-term research projects conducted on behalf of John Snow Incorporated, Society for Family Health (SFH), institute for Human Virology
                                (IHVN), Catholic Caritas Foundation of Nigeria (CCFN), etc. Prior to joining HSCL, Timothy worked as a Senior Credit Analyst where he managed client's portfolio and responsible for preparing the branch's financial report
                                and recovery management
                            </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drO-modal" tabindex="-1" role="dialog" aria-labelledby="drO-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bn1u7wfqt/Dr._Oge_3lUgT7c1G.jpg" width="100%">
                        <h5 class="modal-title text-center" id="drO-modal">Dr Ogesanmola Omitayo</h5>
                        <p class="modal-certs text-center">(MD, MSC)</p>
                        <p class="modal-role text-center">Lead, Researcher</p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            Ogesanmola is a dentist with over 7 years of global health research experience managing quantitative and qualitative research engagements at the national and sub-national levels. Her research endeavors are uniquely tailored to provide evidence specifically
                            generated for programmatic design and policy making.

                        </p>
                        <p>Ogesanmola has designed and conducted several qualitative and quantitative researches for notable organizations such as Management Sciences for Health and FHI360, JSI, Palladium Int. and Adam Smith International. She has also provided
                            data management technical assistance on national surveys such as the 2014 Integrated Biobehavioral Survey and the 2016 Akwa-Ibom AIDS indicator Survey.
                        </p>

                        <p>

                            At HSCL, she leads the research unit of the firm where she provides technical oversight for the development and implementation of research engagements. She has also led the implementation of innovative research designs including the Political economy
                            analysis of health financing in Nigeria conducted on behalf of DFID Nigeria , co-design research for MNCH 2 funded Quality of care research and a health ethnographic research on care-seeking behavior for children under 5 years
                            on behalf of the JSI-Maternal and Child Survival Programs.

                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL FEATURED PROJECTS -->
<!-- MODAL FEATURED PROJECTS -->
<!-- MODAL FEATURED PROJECTS -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="container modal-proj">
                    <h5 class="client-name">Bill & Melinda Gates Foundation

                    </h5>
                    <h4 class="prject-title">STATE LED-STRATEGIC PURCHASING FOR FAMILY PLANNING (FP)</h4>
                    <h4>Overview</h4>
                    <p class="project-overview">Family planning (FP) is crucial for advancing reproductive, maternal, and child health. FP has numerous positive benefits on the reproductive and sexual health of women including reducing unmet needs for contraception, lowering fertility,
                        reducing complications from abortions and preventing maternal and child deaths. These numerous benefits make it a critical factor for the improvement of MNCH indices and development, especially in Nigeria, which has the largest
                        population in sub-Saharan Africa. In most recent times, interventions aimed at improving poor MNCH indices are focused on using financing mechanisms such as the State Social Health Insurance Schemes (SSHIS) as the vehicle for financing
                        a basic package of health care for citizens and residents. In line with this, HSCL is providing technical assistance to the government at the sub-national level to strengthen the capacity for strategic purchasing for family planning
                        services through private providers using the state health insurance scheme as a vehicle.

                    </p>
                    <h4>Project Goal</h4>
                    <p class="project-goal">
                        To strengthen the strategic purchasing function of the State Health Insurance Scheme for family planning services from private providers, to increase access and uptake of FP services.

                    </p>
                    <h4>Project Objectives</h4>
                    <ul class="project-objectives">
                        <li> Strengthen the infrastructure and capacity of the Lagos State Health Management Agency and associated agencies for strategic purchasing of health services (inclusive of FP)</li>
                        <li>Strengthen the capacity of private sector providers for efficient delivery of FP services</li>
                        <li>Build the capacity of state actors to develop and implement interventions on demand generation for FP services</li>
                    </ul>

                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="label2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="container modal-proj">
                    <h5 class="client-name">The Global Fund to fight AIDS, Tuberculosis and Malaria

                    </h5>
                    <h4 class="prject-title">NATIONAL SUPPLY CHAIN INTEGRATION PROJECT (NSCIP)
                    </h4>
                    <h4>Overview</h4>
                    <p class="project-overview">The Nation Supply Chain Integration Project (NSCIP) is an ambitious and innovative initiative anchored on the need to facilitate the development of an integrated supply chain for health commodities in Nigeria. The project was executed
                        through the National Products Supply Chain Management Programme (NPSCMP) under the Department of Food and Drugs Services (DFDS) of the Federal Ministry of Health with the support from major international donors. A baseline assessment
                        of the supply chain systems of health commodities revealed: (i) Federal and State institutions responsible for health commodities supply chain management are grossly under-funded and lack capacity to deliver their mandate; (ii)
                        Government, donors & private sectors act independently with multiple parallel supply chains; (iii) ineffective last-mile distribution systems; (iv) weak data management systems; (v) waste and expiry of medicines in warehouses.
                    </p>
                    <h4>Project Goal</h4>
                    <p class="project-goal">
                        To address the challenges and strengthen the institutional framework of the Nigeria Supply Chain Management Programme.

                    </p>
                    <h4>Project Objectives</h4>
                    <ul class="project-objectives">
                        <li> To integrate the National Health Supply Chain for HIV, Malaria, TB, and Vaccines, Family & Reproductive Health to improve access and availability of medicines to all Nigerians.</li>
                        <li>To develop a streamlined, cost-effective and ultimately more sustainable National Health Supply Chain.</li>
                        <li>To further engage with the private sector through public-private partnerships to boost supply chain capacity, accelerate performance improvement and deliver minimum pharmaceutical standards in storage and distribution.</li>
                        <li>To strengthen National Health Supply Chain Management capabilities at both Federal and State levels via LMCUs to improve control and sustain performance in the long term</li>

                    </ul>

                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="label3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="container modal-proj">
                    <h5 class="client-name">USAID/John Snow Inc
                    </h5>
                    <h4 class="prject-title">UNDERSTANDING THE BARRIERS AND FACILITATING ACTORS IN SEEKING CARE FOR SICK CHILDREN UNDER THE AGE OF FIVE IN NIGERIA</h4>
                    <h4>Overview</h4>
                    <p class="project-overview">HSCL designed and implemented formative research on understanding the barriers and facilitating factors in seeking care for sick children under the age of five in Nigeria. This was done to inform program design and implementation arrangements
                        for the Maternal and Child Survival Program (MCSP) between 2017 and 2018.


                    </p>
                    <h4>Project Goal</h4>
                    <p class="project-goal">
                        To inform program design and implementation arrangements for the Maternal and Child Survival Program (MCSP) between 2017 and 2018.



                    </p>
                    <h4>Project Objectives</h4>
                    <ul class="project-objectives">
                        <li> Explore how presentation, recognition and interpretation of illness signs and symptoms in the household influence care-seeking for sick children;</li>
                        <li>Understand how women, men and family members interact in terms of seeking advice and negotiating access to care;</li>
                        <li>Explore how social norms, gender roles and financial and geographic access influence treatment and care-seeking decisions; and,</li>
                        <li>Understand how previous experiences and perceptions of quality of care across types of providers affect care seeking patterns for sick children</li>

                    </ul>

                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="label4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="container modal-proj">
                    <h5 class="client-name">KPMG
                    </h5>
                    <h4 class="prject-title">MARKET RESEARCH AND DEVELOPMENT OF A BUSINESS PLAN FOR THE ESTABLISHMENT OF A DIAGNOSTIC CENTER
                    </h4>
                    <h4>Overview</h4>
                    <p class="project-overview">HSCL in collaboration with KPMG conducted a pre-feasibility study to gauge market dynamics for the set-up of a diagnostics center in Abuja, Lagos, and Port-Harcourt. Findings from the market feasibility study informed the design of
                        the overall strategy and business and operating model for the proposed venture – through the design of a business plan.
                    </p>
                    <h4>Project Goal</h4>
                    <p class="project-goal">
                        To provide a detailed analysis of the medical diagnostics industry value-chain
                    </p>
                    <h4>Project Objectives</h4>
                    <ul class="project-objectives">
                        <li> To gain deeper insight into the market dynamics of the diagnostics industry in Nigeria</li>
                        <li>To review key findings with regards to market size, demand and product pricing.</li>
                        <li>Recommend viable markets for entry based on the understanding of local market realities</li>
                        <li>To provide and identify the definition of critical success factors such as operational issues, pricing, and regulation</li>


                    </ul>

                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="label5" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
            </div>
            <div class="modal-body" style="padding: 5%">
                <div class="container modal-proj">
                    <h5 class="client-name">GAVI/ UNICEF

                    </h5>
                    <h4 class="prject-title">PHYSICAL STOCK COUNT OF VACCINES & RELATED COMMODITIES
                    </h4>
                    <h4>Overview</h4>
                    <p class="project-overview">Vaccine supplies and logistics are a quintessential element of any immunization architecture. An effective routine immunization (RI) sub-system is built around uninterrupted availability of quality-assured vaccines, and devices (diluents,
                        safe-injection equipment, and other vaccines - related commodities) at the last-mile service delivery points (SDPs). This is only possible when vaccines and related devices reach SDPs on time, and in the right quantity as well
                        as ensuring these products are properly stored and accounted for. Poor stock (data) visibility and weak vaccine accountability have been identified as major challenges to the management of vaccine logistics and supplies in Nigeria,
                        especially at the lower levels of the supply chain. As a first step to addressing these challenges, a national stock-count of vaccines and related commodities was conducted by the National Primary Health Care Development Agency
                        (NPHCDA) with support from Global Alliance for Vaccine and Immunization (GAVI) and UNICEF. HSCL was contracted to conduct the physical stock-count in both the North-Central and North-East zone of the country.

                    </p>
                    <h4>Project Goal</h4>
                    <p class="project-goal">
                        To conduct a physical count of the vaccine and device forecasts to enable estimation of the procurement needs of the country for 2020.
                    </p>
                    <h4>Project Objectives</h4>
                    <ul class="project-objectives">
                        <li> To conduct a physical count of all antigens and devices in all the zones, states, satellites, Local Government Area (LGA) dry & cold stores as well as health facilities with cold chain equipment and other vaccine storage points
                            across the zones</li>
                        <li>To verify the accuracy and completeness of stock records at all levels</li>
                        <li>To obtain key indicators that provide insight into the performance of the supply chain system towards the development of a supply chain dashboard aligned with the Global agreed "Dashboard for Immunization Supply Chain (DISC)”</li>
                    </ul>

                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>