<section id="clients" class="partner-section pt-100 pb-100 ">
    <div class="container ">
        <div class="section-title text-center pb-50">
            <h4>Trusted by</h4>
        </div>
        <div class="owl-carousel ">
            <div class="item "><img src="/assets/logos/bmgf.png"></div>
            <div class="item "><img src="/assets/logos/action.jpg"></div>
            <div class="item"><img src="/assets/logos/cdc.png"></div>
            <div class="item "><img src="/assets/logos/dangote.jpg"></div>
            <div class="item "><img src="/assets/logos/eletric.jpg"></div>
            <div class="item "><img src="/assets/logos/global.jpg"></div>
            <div class="item"><img src="/assets/logos/arc.png"></div>
            <div class="item "><img src="/assets/logos/HEALTH.jpg"></div>
            <div class="item "><img src="/assets/logos/r4d.png"></div>
            <div class="item "><img src="/assets/logos/SLG.png"></div>
            <div class="item "><img src="/assets/logos/un.jpg"></div>
            <div class="item "><img src="/assets/logos/healthallianceng.jpg"></div>
            <div class="item "><img src="/assets/logos/us.jpg"></div>
        </div>

        <div class="owl-carousel">
            <div class="item "><img src="/assets/logos/Gavi.png"></div>
            <div class="item"><img src="/assets/logos/chai.jpg"></div>
            <div class="item "><img src="/assets/logos/intrahealth.jpg"></div>
            <div class="item "><img src="/assets/logos/MCSP.png"></div>
            <div class="item "><img src="/assets/logos/naca1.jpg"></div>
            <div class="item "><img src="/assets/logos/pepfar.jpg"></div>
            <div class="item "><img src="/assets/logos/unf.jpg"></div>
            <div class="item "><img src="/assets/logos/caritas.png"></div>
            <div class="item "><img src="/assets/logos/unicef.png"></div>
            <div class="item "><img src="/assets/logos/unitaid.png"></div>
            <div class="item "><img src="/assets/logos/SFH.jpg"></div>
            <div class="item "><img src="/assets/logos/who.jpg"></div>
            <div class="item "><img src="/assets/logos/hpp.png"></div>
        </div>
    </div>
</section>