<section id="projects" class="portfolio pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <h4>Featured Projects</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 ">Bill & Melinda Gates Foundation</strong>
                        <h6 class="team-name">
                            <p class="project-title" href="#">State Led-Strategic Purchasing for Family Planning (FP)</p>
                        </h6>
                        <p class="card-text mb-auto">
                        </p>
                        <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal1">Learn more</a>
                    </div>
                    <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/Group_XEUjkT4x7.png"> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card io bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 ">The Global Fund</strong>
                        <h6 class="team-name">
                            <p class="project-title" href="#">National Supply Chain Integration Project (NSCIP)</p>
                        </h6>
                        <p class="card-text mb-auto"></p>
                        <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal2">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 ">
                    USAID/John Snow Inc</strong>
                        <h6 class="team-name">
                            <p class="project-title" href="#">Understanding the barriers and facilitating actors in seeking care for sick children under the age of five in Nigeria</p>
                        </h6>
                        <p class="card-text mb-auto">
                        </p>
                        <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal3">Learn more</a>
                    </div>
                    <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/joshua-watson-lKYFy_prTFU-unsplash_sciCRax_13.jpg"> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 ">KPMG</strong>
                        <h6 class="team-name">
                            <p class="project-title" href="#">Market Research and Development of Business plan for the establishment of a diagnostic centre</p>
                        </h6>
                        <p class="card-text mb-auto">
                        </p>
                        <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal4">Learn more</a>
                    </div>
                    <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/joshua-watson-lKYFy_prTFU-unsplash_sciCRax_13.jpg"> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 ">GAVI/ UNICEF</strong>
                        <h6 class="team-name">
                            <p class="project-title" href="#">Physical Stock Count of Vaccines and Related Commodities across all Zones in Nigeria</p>
                        </h6>
                        <p class="card-text mb-auto">
                        </p>
                        <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal5">Learn more</a>
                    </div>
                    <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/joshua-watson-lKYFy_prTFU-unsplash_sciCRax_13.jpg"> -->
                </div>
            </div>
        </div>
        <div class="text-center pt-20">
            <a href="/projects" role="button" class="link-projects">View more</a>
        </div>
    </div>

    <!-- <div class="col-md-6">
    <div class="card io bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="50">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 ">Malaria Consortium</strong>
            <h6 class="team-name">
                <p class="project-title" href="#">Baselin e and Midline surveys for quality assured rapid diagnostic tests (QARDTS)</p>
            </h6>
            <p class="card-text mb-auto"></p>
            <a class="btn-portfolio" href="#">Learn more</a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/mc-social_o8WzVEip7.png">
    </div>
</div>
</div>

</div> -->
</section>