<section id="services" class="services pt-100 pb-100 ">
    <div class="container ">
        <div class="section-title">
            <h4>What we do</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-laptop-medical" data-aos="slide-down" data-aos-duration="1200"></i>
                    <h5 data-aos="zoom-in" data-aos-duration="1200">Health Programs Design and Implementation </h5>
                    <p data-aos="zoom-in" data-aos-duration="1200">We partner with our clients in the design of public health and development programmes and the provision of technical assistance for implementation, and designing health and development projects, sourcing for and establishing programme
                        teams, as well as developing project sustainability plans.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-cogs " data-aos="slide-down" data-aos-duration="1200"></i>
                    <h5 data-aos="zoom-in" data-aos-duration="1200">Strengthening Procurement and Supply Chain Systems
                    </h5>
                    <p data-aos="zoom-in" data-aos-duration="1200">An essential element for strengthening health systems is a well functioning procurement and supply chain system, and also provide technical assistance for improving coordination and integration of PSM for improved efficiency.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-file-alt" data-aos="slide-down" data-aos-duration="1200"></i>
                    <h5 data-aos="zoom-in" data-aos-duration="1200">Evaluation and Research</h5>
                    <p data-aos="zoom-in" data-aos-duration="1200">Leveraging on our experience and expertise, we work with clients in developing M&E plans, assessing the effectiveness of plans, designing and conducting assessments and evaluations, and assessing defining Health Management Information
                        Systems (HMIS).
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-user-friends" data-aos="slide-down" data-aos-duration="1300"></i>
                    <h5 data-aos="zoom-in" data-aos-duration="1300">Human Resources for Health Development</h5>
                    <p data-aos="zoom-in" data-aos-duration="1300">We have the capacity to work with clients in developing and implementing HRH strategic plans and in building the knowledge and capacity they require to effectively manage and sustain their organizations, workforce, programmes/projects.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-chart-line" data-aos="slide-down" data-aos-duration="1300"></i>
                    <h5 data-aos="zoom-in" data-aos-duration="1300">Health Financing and Economic Reviews</h5>
                    <p data-aos="zoom-in" data-aos-duration="1300">Adopting current approaches of health financing, we work with clients to develop innovative financing strategies, design and assess health insurance schemes and carry-out cost and economic evaluation of health programmes
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                <!-- Single Service -->
                <div class="single-service">
                    <span><i class="fas fa-book" data-aos="slide-down" data-aos-duration="1300"></i></span>
                    <h5 data-aos="zoom-in" data-aos-duration="1300">Policy Analysis and Development</h5>
                    <p data-aos="zoom-in" data-aos-duration="1300">We provide clients with technical assistance services to support the review and development of sector wide and programme specific policies. </p>
                </div>
            </div>
        </div>
    </div>
</section>