<section id="team" class="section-team pt-100 pb-100">
    <div class="container">
        <div class="container ">
            <div class="section-title text-center ">
                <h4>Our team</h4>
            </div>
            <div class="row text-center">

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card text-center" data-toggle="modal" data-target="#drA-modal">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/drA_AAj6E_1Vf.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="team-name">Dr Alozie Ananaba</h5>
                        <span class="small text-uppercase team-role">Managing Partner & HSCL Board Member</span>
                    </div>
                </div>
                <!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drN-modal">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/drN_vc1Q0etS7.jpg " alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="team-name">Dr Nkata Chuku</h5><span class="small text-uppercase team-role">Founding Partner & Secretary to HSCL Board</span>
                    </div>
                </div>
                <!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drP-modal">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/blank2_7XMC7KnhL.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="team-name">Dr Pat Youri</h5><span class="small text-uppercase team-role">Board
        Chairman, HSCL</span>
                    </div>
                </div>
                <!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#rosemary-modal">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/Rosemary_Silaa_n9X63Nn8xe.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="team-name">Rosemary Silaa</h5><span class="small text-uppercase team-role">Country Lead Tanzania</span>
                    </div>
                </div>
                <!-- End -->
            </div>

            <!-- SECOND ROW FOR TEAM CARD -->
            <div class="row text-center">
                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drT-modal">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/Dr_Tosin_Kolade_e3xYq9Xhj.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="team-name">Dr Tosin Kolade</h5><span class="small text-uppercase team-role">Associate Director, Health Financing</span>
                    </div>
                </div>
                <!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#tim-modal">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/tim_jbMc8OdLG.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="team-name">Timothy Udeh</h5>
                        <span class="small text-uppercase team-role">Director, Finance</span>
                    </div>
                </div>
                <!-- End -->
                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drO-modal">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/Dr._Oge_3lUgT7c1G.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="team-name">Dr Ogesanmola Omitayo</h5>
                        <span class="small text-uppercase team-role">Lead, Researcher</span>
                    </div>
                </div>
                <!-- End -->

                <!-- Team item -->
                <div class="col-xl-3 col-sm-6 mb-5 team-card">
                    <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true">
                        <!-- <img src="https://ik.imagekit.io/bn1u7wfqt/blank2_7XMC7KnhL.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> -->
                        <h5 class="team-name"></h5><span class="small text-uppercase team-role"></span>
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
</section>