<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Chuku Omoke">
    <meta name="description" content="Hscgroup page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Health System Consult Limited</title>

    <!-- CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <link rel="stylesheet" href="css/flaticon.css">


    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg  navbar-light light-bg fixed-top top-nav">
            <a class="navbar-brand" href="#"><strong>HSCL</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Our projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#clients">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="drA-modal" tabindex="-1" role="dialog" aria-labelledby="drA-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://ik.imagekit.io/bn1u7wfqt/drA_AAj6E_1Vf.jpg" width="100%">
                            <h5 class="modal-title text-center" id="drA-modal">Dr Alozie Ananaba</h5>
                            <p class="modal-certs text-center">(MD, MPH, MWACP)</p>
                            <p class="modal-role text-center">Managing Partner</p>
                        </div>
                        <div class="col-md-8">
                            <p>Alozie is a medical doctor and public health expert with over 20 years senior level experience in designing and managing large scale public health programs at both national and International levels.</p>

                            <p>

                                Alozie was a Fund Portfolio Manager with the Global Fund where he was responsible for a portfolio of grants for Botswana, Zimbabwe, Malawi and the regional SADC grants. Alozie also held senior level positions with the World Health Organization, The United
                                States Centre for Disease Control Global AIDs program, (CDC-GAP), The United States Department of Defence HIV programme in Nigeria (US-DOD) and UNICEF.</p>

                            <p>

                                Alozie has also consulted internationally for UNDP, UNAIDS, WHO, USAID, UNITAID and several other International NGOs. He has vast experience at developing and managing partnerships with Governments and other International agencies with the USG, EU, DFID,
                                CIDA and the UN family as examples.</p>

                            <p>

                                He has authored several strategy level documents including the Presidential Comprehensive Response Plan for HIV/AIDs in Nigeria; The Nigeria Malaria Strategic Plan (2014 -2020); Global Fund proposals for Nigeria, South Sudan, Zimbabwe, Zambia, Tanzania,
                                Zanzibar, Kenya, Lesotho and Sierra Leone.</p>

                            <p>

                                Alozie holds a medical degree from the University of Nigeria; a Masters’ in Public Health from the University of Lagos; a Management diploma from the Thunderbird School of Global Management Switzerland and a Membership of the West African College of Physicians.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="drN-modal" tabindex="-1" role="dialog" aria-labelledby="drN-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://ik.imagekit.io/bn1u7wfqt/drN_vc1Q0etS7.jpg" width="100%">
                            <h5 class="modal-title text-center" id="drN-modal">Dr Nkata Chuku</h5>
                            <p class="modal-certs text-center">(MD, MSC)</p>
                            <p class="modal-role text-center">Founding Partner</p>
                        </div>
                        <div class="col-md-8">
                            <p>Nkata is a public health specialist with over 14 years experience in designing and implementing strategies for increasing access to health care for those at the base of the pyramid. ​ His expertise includes developing health
                                systems mechanisms, policy analysis and development and the application of impact and cost effectiveness analysis in choosing health interventions/approaches.</p>

                            <p>

                                Nkata was a part of the senior management team at FHI 360 responsible for increasing the country’s portfolio from $215million to over $400million within 4 years. He was also responsible for managing a portfolio of about $20million per annum and played
                                lead roles in developing FHI 360’s successful proposal for US government (USAID AND CDC) totalling over $550million.</p>

                            <p>

                                He also developed and managed KPMG’s Healthcare Advisory Practice for West Africa and International Development Advisory Strategy for Nigeria. ​ He has also provided technical assistance to governments at the regional, national and sub-national levels.
                                He supported the development of several strategy documents including the National Strategic Development Plan (NSHDP) 2010 – 2015, National HIV/AIDS Strategy 2009 – 2013 and National Tuberculosis Strategic Plan 2015 – 2020
                                and was a member of the Universal Health Coverage (UHC) technical team that reviewed Nigeria’s UHC agenda and proposed implementing strategies

                                <p>

                                    He has also consulted for international NGOs including USAID and DFID. ​ Nkata holds a medical degree from the University of Lagos, Nigeria, an MSc in Health Policy, Planning and Financing from London School of Economics and Political Science (LSE), London
                                    and a Diploma in Public Health from London School of Hygiene and Tropical Medicine (LSTHM).
                                </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="drP-modal" tabindex="-1" role="dialog" aria-labelledby="drP-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://ik.imagekit.io/bn1u7wfqt/blank2_7XMC7KnhL.png" width="100%">
                            <h5 class="modal-title text-center" id="drP-modal">Dr Pat Youri</h5>
                            <p class="modal-certs text-center"></p>
                            <p class="modal-role text-center">Board Chairman, HSCL</p>
                        </div>
                        <div class="col-md-8">
                            <p>

                                Dr. Pat Youri is a medical doctor with specialist qualifications in Paediatrics and Public Health. He has more than three decades of professional experience working in Sub-Sahara Africa and the United Kingdom. </p>

                            <p>

                                As an independent international public health consultant, he has consulted extensively for many governments, CSOs, and funding agencies including major international donor agencies USG (USAID & CDC), DFID/UKAID, the European Commission, the World Bank,
                                the Global Fund, and the UN System.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rosemary-modal" tabindex="-1" role="dialog" aria-labelledby="rosemary-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://ik.imagekit.io/bn1u7wfqt/Rosemary_Silaa_n9X63Nn8xe.jpg" width="100%">
                            <h5 class="modal-title text-center" id="rosemary">Rosemary Silaa</h5>
                            <p class="modal-certs text-center"></p>
                            <p class="modal-role text-center">Country Lead, Tanzania</p>
                        </div>
                        <div class="col-md-8">
                            <p>Rosemary is a Public Health professional with vast experience in Tanzania’s health sector across both private and public sub-sectors. She supports and leads HSCL projects in Tanzania. </p>

                            <p>

                                She is an expert in Procurement and Supply Chain Management; Business Development; Human Capital Development; Operations Research both Quantitative and Qualitative and Economic Evaluations of public health programs.</p>

                            <p>

                                While working with CHAI as Director of Programmes in Tanzania, Rosemary successfully supported the implementation of HIV service delivery programmes in rural settings; Improved availability of HIV commodities; supported the pilot for the AMFm project
                                which transformed to a national programme. She also led the strengthening of the logistics system and developed the Pharmacy module for a commodity management tool which changed the management of HIV commodities in Tanzania.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="drT-modal" tabindex="-1" role="dialog" aria-labelledby="drT-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://ik.imagekit.io/bn1u7wfqt/Dr_Tosin_Kolade_e3xYq9Xhj.jpg" width="100%">
                            <h5 class="modal-title text-center" id="drT-modal">Dr Tosin Kolade</h5>
                            <p class="modal-certs text-center">(MD, MBA)</p>
                            <p class="modal-role text-center">Associate Director, Health Financing</p>
                        </div>
                        <div class="col-md-8">
                            <p>Oluwatosin is a medical doctor and a health financing specialist with over 15 years of experience in the health insurance industry. He has masterminded the set up and operational management of several health prepayment schemes
                                across Nigeria. </p>

                            <p>

                                Dr Oluwatosin Kolade has extensive experience in the health financing space in Nigeria. His core competences include medical operations, sales, marketing and managerial services. At HSCL, he leads the health financing unit of the firm where he provides
                                strategic and managerial oversight on the implementation of donor-supported health financing projects across a number of Nigerian states. He currently manages a demand-side financing project supported by Bill & Melinda
                                Gates Foundation in Kaduna and Niger states as well as World Bank supported performance based financing project in Borno state.</p>

                            <p>

                                Before joining HSCL, Oluwatosin has led several efforts to drive Nigeria closer to universal health coverage through the design and implementation of innovative financing mechanisms to ensure equitable access to high quality health care especially to
                                the most vulnerable in Nigeria. Of note was the key role he played in setting up community-based health insurance schemes in Bayelsa, Oyo and Kwara states.

                                <p>

                                    He has also led a number of research initiatives to generate evidence to support the design of health financing solutions with potential for lasting impact.</p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tim-modal" tabindex="-1" role="dialog" aria-labelledby="tim-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://ik.imagekit.io/bn1u7wfqt/tim_jbMc8OdLG.jpeg" width="100%">
                            <h5 class="modal-title text-center" id="tim-modal">Timothy Udeh</h5>
                            <p class="modal-certs text-center">(ACA)</p>
                            <p class="modal-role text-center">Director, Finance</p>
                        </div>
                        <div class="col-md-8">
                            <p>Timothy is a chartered Accountant with the Institute of chartered accountant of Nigeria and an experienced finance professional with over 8 years of experience in Financial accounting, grant/donor fund accounting and financial
                                management in both the private and development sector.
                            </p>

                            <p>
                                Timothy has extensive experience with Financial management, management accounting, donor funded accounting, financial management, internal control, budgeting and financial reporting.
                            </p>

                            <p>

                                At HSCL, Timothy currently oversees all financial transactions, project financial monitoring, budget preparation and all financial/management accounting tasks.


                                <p>

                                    He currently manages a Bill and Melinda Gates Foundation supported grant for the Nigeria state-led Strategic Purchasing for FP project and a BMGF sub-grant for a Demand Side Financing Project. Timothy had previously managed a $2 million per year grant
                                    for the Global fund supported Nigeria Supply Chain Integration Project (NSCIP) and other short-term research projects conducted on behalf of John Snow Incorporated, Society for Family Health (SFH), institute for Human
                                    Virology (IHVN), Catholic Caritas Foundation of Nigeria (CCFN), etc. Prior to joining HSCL, Timothy worked as a Senior Credit Analyst where he managed client's portfolio and responsible for preparing the branch's financial
                                    report and recovery management
                                </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="drO-modal" tabindex="-1" role="dialog" aria-labelledby="drO-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://ik.imagekit.io/bn1u7wfqt/Dr._Oge_3lUgT7c1G.jpg" width="100%">
                            <h5 class="modal-title text-center" id="drO-modal">Dr Ogesanmola Omitayo</h5>
                            <p class="modal-certs text-center">(MD, MSC)</p>
                            <p class="modal-role text-center">Lead, Researcher</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                Ogesanmola is a dentist with over 7 years of global health research experience managing quantitative and qualitative research engagements at the national and sub-national levels. Her research endeavors are uniquely tailored to provide evidence specifically
                                generated for programmatic design and policy making.

                            </p>
                            <p>Ogesanmola has designed and conducted several qualitative and quantitative researches for notable organizations such as Management Sciences for Health and FHI360, JSI, Palladium Int. and Adam Smith International. She has also
                                provided data management technical assistance on national surveys such as the 2014 Integrated Biobehavioral Survey and the 2016 Akwa-Ibom AIDS indicator Survey.
                            </p>

                            <p>

                                At HSCL, she leads the research unit of the firm where she provides technical oversight for the development and implementation of research engagements. She has also led the implementation of innovative research designs including the Political economy
                                analysis of health financing in Nigeria conducted on behalf of DFID Nigeria , co-design research for MNCH 2 funded Quality of care research and a health ethnographic research on care-seeking behavior for children under
                                5 years on behalf of the JSI-Maternal and Child Survival Programs.

                            </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL FEATURED PROJECTS -->
    <!-- MODAL FEATURED PROJECTS -->
    <!-- MODAL FEATURED PROJECTS -->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="container modal-proj">
                        <h5 class="client-name">Bill & Melinda Gates Foundation

                        </h5>
                        <h4 class="prject-title">STATE LED-STRATEGIC PURCHASING FOR FAMILY PLANNING (FP)</h4>
                        <h4>Overview</h4>
                        <p class="project-overview">Family planning (FP) is crucial for advancing reproductive, maternal, and child health. FP has numerous positive benefits on the reproductive and sexual health of women including reducing unmet needs for contraception, lowering
                            fertility, reducing complications from abortions and preventing maternal and child deaths. These numerous benefits make it a critical factor for the improvement of MNCH indices and development, especially in Nigeria, which
                            has the largest population in sub-Saharan Africa. In most recent times, interventions aimed at improving poor MNCH indices are focused on using financing mechanisms such as the State Social Health Insurance Schemes (SSHIS)
                            as the vehicle for financing a basic package of health care for citizens and residents. In line with this, HSCL is providing technical assistance to the government at the sub-national level to strengthen the capacity for strategic
                            purchasing for family planning services through private providers using the state health insurance scheme as a vehicle.

                        </p>
                        <h4>Project Goal</h4>
                        <p class="project-goal">
                            To strengthen the strategic purchasing function of the State Health Insurance Scheme for family planning services from private providers, to increase access and uptake of FP services.

                        </p>
                        <h4>Project Objectives</h4>
                        <ul class="project-objectives">
                            <li> Strengthen the infrastructure and capacity of the Lagos State Health Management Agency and associated agencies for strategic purchasing of health services (inclusive of FP)</li>
                            <li>Strengthen the capacity of private sector providers for efficient delivery of FP services</li>
                            <li>Build the capacity of state actors to develop and implement interventions on demand generation for FP services</li>
                        </ul>

                        <p></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="label2" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="container modal-proj">
                        <h5 class="client-name">The Global Fund to fight AIDS, Tuberculosis and Malaria

                        </h5>
                        <h4 class="prject-title">NATIONAL SUPPLY CHAIN INTEGRATION PROJECT (NSCIP)
                        </h4>
                        <h4>Overview</h4>
                        <p class="project-overview">The Nation Supply Chain Integration Project (NSCIP) is an ambitious and innovative initiative anchored on the need to facilitate the development of an integrated supply chain for health commodities in Nigeria. The project was executed
                            through the National Products Supply Chain Management Programme (NPSCMP) under the Department of Food and Drugs Services (DFDS) of the Federal Ministry of Health with the support from major international donors. A baseline
                            assessment of the supply chain systems of health commodities revealed: (i) Federal and State institutions responsible for health commodities supply chain management are grossly under-funded and lack capacity to deliver their
                            mandate; (ii) Government, donors & private sectors act independently with multiple parallel supply chains; (iii) ineffective last-mile distribution systems; (iv) weak data management systems; (v) waste and expiry of medicines
                            in warehouses.
                        </p>
                        <h4>Project Goal</h4>
                        <p class="project-goal">
                            To address the challenges and strengthen the institutional framework of the Nigeria Supply Chain Management Programme.

                        </p>
                        <h4>Project Objectives</h4>
                        <ul class="project-objectives">
                            <li> To integrate the National Health Supply Chain for HIV, Malaria, TB, and Vaccines, Family & Reproductive Health to improve access and availability of medicines to all Nigerians.</li>
                            <li>To develop a streamlined, cost-effective and ultimately more sustainable National Health Supply Chain.</li>
                            <li>To further engage with the private sector through public-private partnerships to boost supply chain capacity, accelerate performance improvement and deliver minimum pharmaceutical standards in storage and distribution.</li>
                            <li>To strengthen National Health Supply Chain Management capabilities at both Federal and State levels via LMCUs to improve control and sustain performance in the long term</li>

                        </ul>

                        <p></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="label3" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="container modal-proj">
                        <h5 class="client-name">USAID/John Snow Inc
                        </h5>
                        <h4 class="prject-title">UNDERSTANDING THE BARRIERS AND FACILITATING ACTORS IN SEEKING CARE FOR SICK CHILDREN UNDER THE AGE OF FIVE IN NIGERIA</h4>
                        <h4>Overview</h4>
                        <p class="project-overview">HSCL designed and implemented formative research on understanding the barriers and facilitating factors in seeking care for sick children under the age of five in Nigeria. This was done to inform program design and implementation
                            arrangements for the Maternal and Child Survival Program (MCSP) between 2017 and 2018.


                        </p>
                        <h4>Project Goal</h4>
                        <p class="project-goal">
                            To inform program design and implementation arrangements for the Maternal and Child Survival Program (MCSP) between 2017 and 2018.



                        </p>
                        <h4>Project Objectives</h4>
                        <ul class="project-objectives">
                            <li> Explore how presentation, recognition and interpretation of illness signs and symptoms in the household influence care-seeking for sick children;</li>
                            <li>Understand how women, men and family members interact in terms of seeking advice and negotiating access to care;</li>
                            <li>Explore how social norms, gender roles and financial and geographic access influence treatment and care-seeking decisions; and,</li>
                            <li>Understand how previous experiences and perceptions of quality of care across types of providers affect care seeking patterns for sick children</li>

                        </ul>

                        <p></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="label4" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="container modal-proj">
                        <h5 class="client-name">KPMG
                        </h5>
                        <h4 class="prject-title">MARKET RESEARCH AND DEVELOPMENT OF A BUSINESS PLAN FOR THE ESTABLISHMENT OF A DIAGNOSTIC CENTER
                        </h4>
                        <h4>Overview</h4>
                        <p class="project-overview">HSCL in collaboration with KPMG conducted a pre-feasibility study to gauge market dynamics for the set-up of a diagnostics center in Abuja, Lagos, and Port-Harcourt. Findings from the market feasibility study informed the design
                            of the overall strategy and business and operating model for the proposed venture – through the design of a business plan.
                        </p>
                        <h4>Project Goal</h4>
                        <p class="project-goal">
                            To provide a detailed analysis of the medical diagnostics industry value-chain
                        </p>
                        <h4>Project Objectives</h4>
                        <ul class="project-objectives">
                            <li> To gain deeper insight into the market dynamics of the diagnostics industry in Nigeria</li>
                            <li>To review key findings with regards to market size, demand and product pricing.</li>
                            <li>Recommend viable markets for entry based on the understanding of local market realities</li>
                            <li>To provide and identify the definition of critical success factors such as operational issues, pricing, and regulation</li>


                        </ul>

                        <p></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="label5" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                </div>
                <div class="modal-body" style="padding: 5%">
                    <div class="container modal-proj">
                        <h5 class="client-name">GAVI/ UNICEF

                        </h5>
                        <h4 class="prject-title">PHYSICAL STOCK COUNT OF VACCINES & RELATED COMMODITIES
                        </h4>
                        <h4>Overview</h4>
                        <p class="project-overview">Vaccine supplies and logistics are a quintessential element of any immunization architecture. An effective routine immunization (RI) sub-system is built around uninterrupted availability of quality-assured vaccines, and devices
                            (diluents, safe-injection equipment, and other vaccines - related commodities) at the last-mile service delivery points (SDPs). This is only possible when vaccines and related devices reach SDPs on time, and in the right quantity
                            as well as ensuring these products are properly stored and accounted for. Poor stock (data) visibility and weak vaccine accountability have been identified as major challenges to the management of vaccine logistics and supplies
                            in Nigeria, especially at the lower levels of the supply chain. As a first step to addressing these challenges, a national stock-count of vaccines and related commodities was conducted by the National Primary Health Care Development
                            Agency (NPHCDA) with support from Global Alliance for Vaccine and Immunization (GAVI) and UNICEF. HSCL was contracted to conduct the physical stock-count in both the North-Central and North-East zone of the country.

                        </p>
                        <h4>Project Goal</h4>
                        <p class="project-goal">
                            To conduct a physical count of the vaccine and device forecasts to enable estimation of the procurement needs of the country for 2020.
                        </p>
                        <h4>Project Objectives</h4>
                        <ul class="project-objectives">
                            <li> To conduct a physical count of all antigens and devices in all the zones, states, satellites, Local Government Area (LGA) dry & cold stores as well as health facilities with cold chain equipment and other vaccine storage points
                                across the zones</li>
                            <li>To verify the accuracy and completeness of stock records at all levels</li>
                            <li>To obtain key indicators that provide insight into the performance of the supply chain system towards the development of a supply chain dashboard aligned with the Global agreed "Dashboard for Immunization Supply Chain (DISC)”</li>
                        </ul>

                        <p></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- HERO SECTION -->
    <section class="hero bg-overlay-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pt-40">We provide top quality, innovative
                        <br><span class="accent">health</span> and <span class="accent">development</span>
                        <br>solutions
                    </h2>
                    <p>Dedicated to providing cutting edge solutions to the health and development ecosystem.</p>
                    <a href="#contact" class="hero-btn">Get in touch</a>
                </div>

                <!-- <div class="col-md-12 text-center pointer">
                    <div>
                        <i class="fas fa-long-arrow-alt  animated infinite bounce delay-4s"></i>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <section id="about" class="about-section pt-100 pb-100">
        <div class="container">
            <div class="section-title ">
                <h4>About us</h4>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 padding-0" </div> <img class="intro-img img-fluid mb-3 mb-lg-0 " src="https://ik.imagekit.io/bn1u7wfqt/abouttt_hiB27xFny.png" alt=" ">
                </div>
                <div class="col-md-6 col-sm-12 about-well padding-0">
                    <div class="about-text">
                        <h2 class="section-heading pt-20">
                            <h4 class="abt-subheader">Who we are</h4>
                        </h2>
                        <p class="mb-3 pt-10">HSCL is a Public health and development consulting firm established by a team with extensive experience in international health and development. With a network of over 50 global partners and consultants, we develop programmes and
                            provide sustainable solutions for a broad spectrum of health and development challenges.
                        </p>
                        <div class="intro-button mx-auto ">
                            <a class="btn btn-xl" href="/about">Read more</a>
                        </div>
                    </div>

                </div>
    </section>

    <!-- What we do Section-->
    <section id="services" class="services pt-100 pb-100 ">
        <div class="container ">
            <div class="section-title">
                <h4>What we do</h4>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                    <!-- Single Service -->
                    <div class="single-service">
                        <i class="fas fa-laptop-medical" data-aos="slide-down" data-aos-duration="1200"></i>
                        <h5 data-aos="zoom-in" data-aos-duration="1200">Health Programs Design and Implementation </h5>
                        <p data-aos="zoom-in" data-aos-duration="1200">We partner with our clients in the design of public health and development programmes and the provision of technical assistance for implementation, and designing health and development projects, sourcing for and establishing programme
                            teams, as well as developing project sustainability plans.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                    <!-- Single Service -->
                    <div class="single-service">
                        <i class="fas fa-cogs " data-aos="slide-down" data-aos-duration="1200"></i>
                        <h5 data-aos="zoom-in" data-aos-duration="1200">Strengthening Procurement and Supply Chain Systems
                        </h5>
                        <p data-aos="zoom-in" data-aos-duration="1200">An essential element for strengthening health systems is a well functioning procurement and supply chain system, and also provide technical assistance for improving coordination and integration of PSM for improved efficiency.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                    <!-- Single Service -->
                    <div class="single-service">
                        <i class="fas fa-file-alt" data-aos="slide-down" data-aos-duration="1200"></i>
                        <h5 data-aos="zoom-in" data-aos-duration="1200">Evaluation and Research</h5>
                        <p data-aos="zoom-in" data-aos-duration="1200">Leveraging on our experience and expertise, we work with clients in developing M&E plans, assessing the effectiveness of plans, designing and conducting assessments and evaluations, and assessing defining Health Management Information
                            Systems (HMIS).
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                    <!-- Single Service -->
                    <div class="single-service">
                        <i class="fas fa-user-friends" data-aos="slide-down" data-aos-duration="1300"></i>
                        <h5 data-aos="zoom-in" data-aos-duration="1300">Human Resources for Health Development</h5>
                        <p data-aos="zoom-in" data-aos-duration="1300">We have the capacity to work with clients in developing and implementing HRH strategic plans and in building the knowledge and capacity they require to effectively manage and sustain their organizations, workforce, programmes/projects.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                    <!-- Single Service -->
                    <div class="single-service">
                        <i class="fas fa-chart-line" data-aos="slide-down" data-aos-duration="1300"></i>
                        <h5 data-aos="zoom-in" data-aos-duration="1300">Health Financing and Economic Reviews</h5>
                        <p data-aos="zoom-in" data-aos-duration="1300">Adopting current approaches of health financing, we work with clients to develop innovative financing strategies, design and assess health insurance schemes and carry-out cost and economic evaluation of health programmes </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-10">
                    <!-- Single Service -->
                    <div class="single-service">
                        <span><i class="fas fa-book" data-aos="slide-down" data-aos-duration="1300"></i></span>
                        <h5 data-aos="zoom-in" data-aos-duration="1300">Policy Analysis and Development</h5>
                        <p data-aos="zoom-in" data-aos-duration="1300">We provide clients with technical assistance services to support the review and development of sector wide and programme specific policies. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="portfolio pt-100 pb-100">
        <div class="container">
            <div class="section-title">
                <h4>Featured Projects</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 ">Bill & Melinda Gates Foundation</strong>
                            <h6 class="team-name">
                                <p class="project-title" href="#">State Led-Strategic Purchasing for Family Planning (FP)</p>
                            </h6>
                            <p class="card-text mb-auto">
                            </p>
                            <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal1">Learn more</a>
                        </div>
                        <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/Group_XEUjkT4x7.png"> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card io bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 ">The Global Fund</strong>
                            <h6 class="team-name">
                                <p class="project-title" href="#">National Supply Chain Integration Project (NSCIP)</p>
                            </h6>
                            <p class="card-text mb-auto"></p>
                            <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal2">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 ">
                                    USAID/John Snow Inc</strong>
                            <h6 class="team-name">
                                <p class="project-title" href="#">Understanding the barriers and facilitating actors in seeking care for sick children under the age of five in Nigeria</p>
                            </h6>
                            <p class="card-text mb-auto">
                            </p>
                            <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal3">Learn more</a>
                        </div>
                        <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/joshua-watson-lKYFy_prTFU-unsplash_sciCRax_13.jpg"> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 ">KPMG</strong>
                            <h6 class="team-name">
                                <p class="project-title" href="#">Market Research and Development of Business plan for the establishment of a diagnostic centre</p>
                            </h6>
                            <p class="card-text mb-auto">
                            </p>
                            <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal4">Learn more</a>
                        </div>
                        <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/joshua-watson-lKYFy_prTFU-unsplash_sciCRax_13.jpg"> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card  bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 ">GAVI/ UNICEF</strong>
                            <h6 class="team-name">
                                <p class="project-title" href="#">Physical Stock Count of Vaccines and Related Commodities across all Zones in Nigeria</p>
                            </h6>
                            <p class="card-text mb-auto">
                            </p>
                            <a class="btn-portfolio" href="#" data-toggle="modal" data-target="#modal5">Learn more</a>
                        </div>
                        <!-- <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/joshua-watson-lKYFy_prTFU-unsplash_sciCRax_13.jpg"> -->
                    </div>
                </div>
            </div>
            <div class="text-center pt-20">
                <a href="/projects" role="button" class="link-projects">View more</a>
            </div>
        </div>

        <!-- <div class="col-md-6">
                    <div class="card io bg-well flex-md-row mb-4 shadow-sm h-md-250" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="50">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 ">Malaria Consortium</strong>
                            <h6 class="team-name">
                                <p class="project-title" href="#">Baselin e and Midline surveys for quality assured rapid diagnostic tests (QARDTS)</p>
                            </h6>
                            <p class="card-text mb-auto"></p>
                            <a class="btn-portfolio" href="#">Learn more</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-lg-block portfolio-img" alt="Thumbnail [200x250]" src="https://ik.imagekit.io/bn1u7wfqt/mc-social_o8WzVEip7.png">
                    </div>
                </div>
            </div>

        </div> -->
    </section>


    <!-- PARTNERS SECTION -->
    <section id="clients" class="partner-section pt-100 pb-100 ">
        <div class="container ">
            <div class="section-title text-center pb-50">
                <h4>Trusted by</h4>
            </div>
            <div class="owl-carousel ">
                <div class="item "><img src="/assets/logos/bmgf.png"></div>
                <div class="item "><img src="/assets/logos/action.jpg"></div>
                <div class="item"><img src="/assets/logos/cdc.png"></div>
                <div class="item "><img src="/assets/logos/dangote.jpg"></div>
                <div class="item "><img src="/assets/logos/eletric.jpg"></div>
                <div class="item "><img src="/assets/logos/global.jpg"></div>
                <div class="item"><img src="/assets/logos/arc.png"></div>
                <div class="item "><img src="/assets/logos/HEALTH.jpg"></div>
                <div class="item "><img src="/assets/logos/r4d.png"></div>
                <div class="item "><img src="/assets/logos/SLG.png"></div>
                <div class="item "><img src="/assets/logos/un.jpg"></div>
                <div class="item "><img src="/assets/logos/healthallianceng.jpg"></div>
                <div class="item "><img src="/assets/logos/us.jpg"></div>
            </div>

            <div class="owl-carousel">
                <div class="item "><img src="/assets/logos/Gavi.png"></div>
                <div class="item"><img src="/assets/logos/chai.jpg"></div>
                <div class="item "><img src="/assets/logos/intrahealth.jpg"></div>
                <div class="item "><img src="/assets/logos/MCSP.png"></div>
                <div class="item "><img src="/assets/logos/naca1.jpg"></div>
                <div class="item "><img src="/assets/logos/pepfar.jpg"></div>
                <div class="item "><img src="/assets/logos/unf.jpg"></div>
                <div class="item "><img src="/assets/logos/caritas.png"></div>
                <div class="item "><img src="/assets/logos/unicef.png"></div>
                <div class="item "><img src="/assets/logos/unitaid.png"></div>
                <div class="item "><img src="/assets/logos/SFH.jpg"></div>
                <div class="item "><img src="/assets/logos/who.jpg"></div>
                <div class="item "><img src="/assets/logos/hpp.png"></div>
            </div>
        </div>
    </section>


    <!-- TEAM SECTION -->
    <section id="team" class="section-team pt-100 pb-100">
        <div class="container">
            <div class="container ">
                <div class="section-title text-center ">
                    <h4>Our team</h4>
                </div>
                <div class="row text-center">

                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card text-center" data-toggle="modal" data-target="#drA-modal">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/drA_AAj6E_1Vf.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="team-name">Dr Alozie Ananaba</h5>
                            <span class="small text-uppercase team-role">Managing Partner & HSCL Board Member</span>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drN-modal">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/drN_vc1Q0etS7.jpg " alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="team-name">Dr Nkata Chuku</h5><span class="small text-uppercase team-role">Founding Partner & Secretary to HSCL Board</span>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drP-modal">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/blank2_7XMC7KnhL.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="team-name">Dr Pat Youri</h5><span class="small text-uppercase team-role">Board
                                Chairman, HSCL</span>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#rosemary-modal">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/Rosemary_Silaa_n9X63Nn8xe.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="team-name">Rosemary Silaa</h5><span class="small text-uppercase team-role">Country Lead Tanzania</span>
                        </div>
                    </div>
                    <!-- End -->
                </div>

                <!-- SECOND ROW FOR TEAM CARD -->
                <div class="row text-center">
                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drT-modal">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/Dr_Tosin_Kolade_e3xYq9Xhj.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="team-name">Dr Tosin Kolade</h5><span class="small text-uppercase team-role">Associate Director, Health Financing</span>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#tim-modal">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/tim_jbMc8OdLG.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="team-name">Timothy Udeh</h5>
                            <span class="small text-uppercase team-role">Director, Finance</span>
                        </div>
                    </div>
                    <!-- End -->
                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card" data-toggle="modal" data-target="#drO-modal">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true"><img src="https://ik.imagekit.io/bn1u7wfqt/Dr._Oge_3lUgT7c1G.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="team-name">Dr Ogesanmola Omitayo</h5>
                            <span class="small text-uppercase team-role">Lead, Researcher</span>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5 team-card">
                        <div class="bg-white shadow-sm py-5 px-4 team-well" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-mirror="true">
                            <!-- <img src="https://ik.imagekit.io/bn1u7wfqt/blank2_7XMC7KnhL.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> -->
                            <h5 class="team-name"></h5><span class="small text-uppercase team-role"></span>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
    </section>

    <!-- Contact Section-->
    <section id="contact" class="contact pt-100 pb-100 " id="contact ">
        <div class="container ">
            <div class="row ">
                <div class="col-xl-6 mx-auto text-center ">
                    <div class="section-title">
                        <h4>contact us</h4>
                    </div>
                </div>
            </div>
            <div class="row text-center ">
                <div class="col-md-8 ">
                    <form action="# " class="contact-form ">
                        <div class="row ">
                            <div class="col-xl-6 ">
                                <input type="text" id="name" placeholder="name ">
                            </div>
                            <div class="col-xl-6 ">
                                <input type="email" id="email" placeholder="email ">
                            </div>
                            <div class="col-xl-6 ">
                                <input type="text" id="subject" placeholder="subject ">
                            </div>
                            <div class="col-xl-6 ">
                                <input type="text" id="telephone" placeholder="telephone ">
                            </div>
                            <div class="col-xl-12 ">
                                <textarea placeholder="message" cols="30 " rows="10 "></textarea>
                                <input type="submit" value="send message ">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 ">
                    <div class="single-contact ">
                        <i class="fa fa-map-marker"></i>
                        <h5>Address</h5>
                        <p>Plot 856 Olu Awotesu Street, Golf view, Jabi, Abuja, Nigeria</p>
                    </div>
                    <div class="single-contact ">
                        <i class="fa fa-phone "></i>
                        <h5>Phone</h5>
                        <p>(+234) 9 290 9188</p>
                    </div>
                    <div class="single-contact ">
                        <i class="fa fa-envelope "></i>
                        <h5>Email</h5>
                        <p>info@hscgroup.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section-->
    <section id="footer" class="pt-100 pb-50">
        <div class="container ">
            <div class="row text-center text-xs-center text-sm-left text-md-left ">
                <div class="col-xs-12 col-sm-4 col-md-3 ">
                    <h5>Health Systems Consult Limited (HSCL)</h5>
                    <p>HSCL is a Public health and development consulting firm established by a team with extensive experience in international health and development. </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                    <h5>Menu</h5>
                    <ul class="list-unstyled quick-links ">
                        <li><a href="./home">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="#services">What We Do</a></li>
                        <li><a href="/projects">Portfolio</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                    <h5>Info</h5>
                    <ul class="list-unstyled quick-links ">
                        <li><a href="# " class="btn disabled">News</a></li>
                        <li><a href="./careers.html">Careers</a></li>
                        <li><a href="# " class="btn disabled">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>Plot 856 Olu Awotesu Street, Golf view, Jabi, Abuja, Nigeria</li>
                        <li>+234 9 290 9188</li>
                        <li>info@hscgroup.org</li>
                        <li><span style="color: #999999;"><small>Abuja&nbsp; |&nbsp; Lagos&nbsp; |&nbsp;
                                    Kaduna&nbsp; |&nbsp; &nbsp;Borno&nbsp; |&nbsp; Imo</small></span></li>
                    </ul>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 ">
                    <ul class="list-unstyled list-inline social text-center ">
                        <li class="list-inline-item "><a href="https://www.facebook.com/HsclNigeria" target="_blank"><i
                                    class="fa fa-facebook "></i></a></li>
                        <li class="list-inline-item "><a href="https://www.twitter.com/HSCLimited" target="_blank"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item "><a href="https://www.instagram.com/hscl_nigeria/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center  ">
                    <p>Copyright &copy;
                        <script language="JavaScript" type="text/javascript">
                            document.write((new Date()).getFullYear());
                        </script> All right Reversed. Health Systems Consult Limited</p>
                </div>
                </hr>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "></script>

    <script src="/owlcarousel/owl.carousel.min.js "></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/js/index.js "></script>
</body>

</html>